body 
{
    width: 75%;
    margin: 0px auto; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://wallpapercave.com/wp/tfUMfjr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header 
{
    height: 100px;
}

main 
{
    flex: 1 0 auto;
}

main h1 
{
    font-weight: bold;
}

main h2 
{
    font-weight: 300;
}

/*===== Bottom Link Styling =====*/
.links 
{
    color:#ffffff;
    font-size: 20px;
    text-shadow:  2px 2px #337ab7;
    
}

.links:hover 
{
    color: #337ab7;
    font-size: 20px;
    text-shadow:  2px 2px #ffffff;
}

.jumbotron
{
    margin-top:50px;
}
.mainpanel
{
   margin: 50px;
}

.questionBox 
{
    background: #ffffff;
}

#mainpanel-content 
{
    margin: 50px;
}
